accelerate
aiohappyeyeballs
aiohttp
aiosignal
annotated-doc
annotated-types
anyio
attrs
bitsandbytes
certifi
charset-normalizer
click
comet-ml
configobj
contourpy
cycler
datasets
deepspeed
dill
dulwich
einops
evaluate
everett
filelock
fonttools
frozenlist
fsspec
h11
hf-xet
hjson
httpcore
httpx
huggingface-hub
idna
jinja2
joblib
jsonschema
jsonschema-specifications
kiwisolver
lion-pytorch
loguru
markdown-it-py
markupsafe
matplotlib
mdurl
mpmath
msgpack
multidict
multiprocess
networkx
ninja
numpy
nvidia-ml-py
nvitop
packaging
pandas
pillow
peft
propcache
psutil
py-cpuinfo
pyarrow
pydantic
pydantic-core
pygments
pyparsing
python-box
python-dateutil
pyyaml
regex
referencing
requests
requests-toolbelt
rich
rpds-py
safetensors
scipy
semantic-version
sentry-sdk
setuptools
shellingham
simplejson
six
sympy
threadpoolctl
tokenizers
torch
tqdm
transformers
typer
typing-extensions
typing-inspection
urllib3
wrapt
wurlitzer
xxhash
yarl
